

#container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-title {
	color: white;
  font-weight: 100;
}

#footer-logo {
    max-width: 80px;
    margin: 10px;
}

.footer-nav {
    padding: 5px;
}

.icon {
    max-width: 60px;
    padding: 20px 0;
    margin-top: auto 0;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

a:hover {
    color: #c0915f;
}

#footer-social {
    max-width: 100%;
}

@media screen and (max-width: 414px) {
    #container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer-social {
        padding-top: 10px;
    }
}