#container {
    background-color: #293f26;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-title {
    
}

#footer-logo {
    max-width: 80px;
    margin: 10px;
}

.footer-nav {
    padding: 5px;
}

#footer-section {

}

.icon {
    max-width: 80px;
    padding: 5px;
    margin-top: auto 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

a:hover {
    color: #c0915f;
}

#footer-social {

}