#sqdpt-sign {
    max-width: 65%;
    padding: 65px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container-div {
    /* background-color: #2b4b23; */
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

@media screen and (max-width: 415px) {
    #sqdpt-sign {
        max-width: 95%;
    }
}

