.nav-text {
	color: white;
}

#navbar {
	background-color: #333; /* Black background color */
	position: sticky; /* Make it stick/fixed */
	width: 100%; /* Full width */
	transition: top 0.4s; /* Transition effect when sliding down (and up) */
	z-index: 99;
}