@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

.card-wrapper{
	width: 100%;
	height: 100%;

}

.video-wrapper{
	position: relative;
	height: 100vh;
}

.react-player{

}

.text-wrapper{
	/* position: relative;
	background-color: black;
	padding: 10px;
	margin: 0 9.7% 0 9.7%; */
}

.video-title{
	color: white;
	font-size: larger;
	font-family: 'Inter', sans-serif;
}

.video-info{
	color: white;
	font-family: 'Inter', sans-serif;
}

.carousel .control-dots {
	position: relative;
}

@media screen and(max-width: 480px){
	.video-wrapper{
		height: 50vh;
	}
}