.nav-text {
	color: white;
}

#navbar {
	background-color: #333; /* Black background color */
	position: fixed; /* Make it stick/fixed */
	top: -50px; /* Hide the navbar 50 px outside of the top view */
	width: 100%; /* Full width */
	transition: top 0.4s; /* Transition effect when sliding down (and up) */
	z-index: 99;
}