body {
  background-color: white;
}

.image1 {
  height: 1440px;
}

.box {
  background: transparent;
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.div2 {
  margin: 2%;
}

.logo{
  background-color: transparent;

}

.contact-box {
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .image1{
    height: 1000px;
  }
}

@media screen and (max-width: 1440px) {
  .image1{
    height: 900px;
  }
}

@media screen and (max-width: 1366px) {
  .image1{
    height: 800px;
  }
}