@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: black;
}

.image1 {
  height: 1440px;
}

.box {
  background: transparent;
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.div2 {
  margin: 2%;
}

.logo{
  background-color: transparent;

}

.contact-box {
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .image1{
    height: 1000px;
  }
}

@media screen and (max-width: 1440px) {
  .image1{
    height: 900px;
  }
}

@media screen and (max-width: 1366px) {
  .image1{
    height: 800px;
  }
}
@media screen and (max-width: 912px) {
	.image1, #container-div, #project-page{
		height: 1400px;
	}
}

@media screen and (max-width: 820px) {
	.image1, #container-div, #project-page{
		height: 1200px;
	}
}

@media screen and (max-width: 768px) {
	.image1, #container-div, #project-page{
		height: 1100px;
	}
}

@media screen and (max-width: 410px) {
	.image1, #container-div, #project-page{
		height: 900px;
	}
}

@media screen and (max-width: 390px) {
	.image1, #container-div, #project-page{
		height: 900px;
	}
}

@media screen and (max-width: 375px) {
	.image1, #container-div, #project-page{
		height: 700px;
	}
}