@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: black;
}

.image1 {
  height: 1400px;
}

.box {
  background: transparent;
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.div2 {
  margin: 2%;
}

.logo{
  background-color: transparent;

}

.contact-box {
  height: 100%;
}
