.card-wrapper{

}

.video-wrapper{
	position: relative;
	padding-top: 45.25%;
}

.react-player{
	position: absolute;
	top: 0;
	left: 0;
}

.text-wrapper{
	position: relative;
	background-color: black;
	padding: 10px;
	margin: 0 9.7% 0 9.7%;
}

.video-title{
	color: white;
}

.video-info{
	color: white;
}

.carousel .control-dots {
	position: relative;
}