#card {
}

#card-info {
   flex-direction: row;
   text-align: center;
}

#card-video {
    padding: 20px;
}

#card-title {
    font-family: 'Pacifico';
}

#card-welcome {
    font-family: 'Pacifico';
    text-align: center;
    font-size: 32px;
    color: #293f26;
}