.contactContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	padding: 20px;
}

.contactBtn{
	background-color: transparent;
	color: transparent;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: larger;
	font-family: 'Inter', sans-serif;
	margin: 25px;
}

.contactBtn:hover{
	background-color: transparent;
	color: transparent;
}

.contactTitle{
	font-size: xx-large;
	font-family: 'Inter', sans-serif;
	margin: 25px;
}

.emailCard{
	max-width: 50vw;
}

@media screen and (max-width: 450px) {
		.emailCard {
				max-width: 90vw;
		}
}