.contact {
  background-color: #f8f4e1;
  padding: 25px 80px;
  background-image: url('../../assets/images/postcard.jpg');
  background-size: contain;
  position: relative;
}

#contact-form {
  margin-top: 150px;
}

.contact-title {
  text-align: center;
  font-family: 'Pacifico';
  font-size: 32px;
  color: #ae804b;
}

input {
  display: flex;
    width: 600px;
  }
  textarea {
    height: 10em;
    width: 600px;  }

  div[role='alert'] {
    color: red;
    margin-top: 1em;
  }

  .message-chars {
    margin: auto 0;
    text-align: left;
    font-size: smaller;
  }

  .input-style {
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: vertical;
  }

  .text-area-style {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      resize: none;
  }

  .submit-div {
		width: 92px;
		height: 117px;
		left: 965px;
		top: 21px;
		overflow: visible;
  }

  .text-area-style {
    
  }

  .submit-button {
    background-color: #c0915f;
    border: none;
    text-decoration: none;
    padding: 40px 25px 40px 25px;
    cursor: pointer;
    font-family: 'Pacifico';
    font-size: large;
    background-image: url('../../assets/images/stamp.jpg');
    background-size: contain;
  }

  .submit-button:hover {
    background-color: #e4a54c;
    background-image: url('../../assets/images/stampb.jpg');
    background-size: contain;
  }

  @media screen and (max-width: 600px) {
    .input-style {
      width: 100%;
    }
  }

